
#footerhead {
    background-color: rgb(0, 0, 0, 0.2);
}
.custom-button-back-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DCA725; /* Color amarillo mostaza */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.custom-button-back-login:hover {
    background-color: #c4941c; /* Un tono más oscuro para el efecto hover */
    color: white;
}

.disabled-link {
    pointer-events: none; 
    color: grey;
    cursor: default;
}
